/* CSS Document */

h1
{
	font-size:50px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
p
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


/*--------------------------Home--------------------------*/
#welcome1
{
	width:420px;
	height:200px;
	margin:auto;
	position:absolute;
	left:5px;
	float:left;
	background:url(pics/welcome2.png) no-repeat center;
	background-size:354px 80px;
}
#welcome2
{
	width:420px;
	height:200px;
	margin:auto;
	position:absolute;
	left:5px;
	float:left;
	background:url(pics/vitajte2.png) no-repeat center;
	background-size:354px 80px;

}

	
#hometext
{
	width:420px;
	height:auto; 
	margin:auto;
	position:absolute;
	top:240px;
	left:5px;
	float:left;
	text-align:justify;
}

#fotky
{
	width:435px;
	height:630px;
	float:right;
	position:relative;
	display:block;
	margin-bottom:50px; 
}
.fbicon
{
	width:30px;
	height:30px;
	background:url(pics/facebook_icon.png) no-repeat center;
	background-size:30px 30px;
	position:absolute;
	display:block;
}

.fbiconfo
{
	top:20px;
	position:relative;
	float:right;
	margin-left:10px;
	right:50px;
}
.instaicon
{
	width:30px;
	height:30px;
	background:url(pics/social-instagram-50x50.png) no-repeat center;
	background-size:30px 30px;
	position:absolute;
	display:block;
}

.instaiconfo
{
	top:20px;
	position:relative;
	float:right;
	margin-left:10px;
	right:50px;
}
.youicon
{
	width:30px;
	height:30px;
	background:url(pics/youtube.png) no-repeat center;
	background-size:34px 34px;
	position:absolute;
	display:block;
}

.youiconfo
{
	top:20px;
	position:relative;
	float:right;
	margin-left:10px;
	right:50px;
}
#ourfriends
{
	position:relative;
	float:left;
	top:30px;
	color:#FFF;
	left:100px;
	font-size:12px; 
}

#ourfriends:hover
{
	color:#CCC;
}

/*--------------------------About Us--------------------------*/
#aboutus
{
	width:60%;
	height:auto;
	background-size:contain;
	margin:auto;
	clear:both;
	position:relative;
}


/*--------------------------Contact--------------------------*/
#contactinfo
{
	width:370px;
	height:340px;
	position:relative;
	float:left;
	text-align:left;
	padding:0 0 0 20px;
	background:none;
	z-index:-1;
	margin-bottom:20px; 
}

#contactform
{
	width:500px;
	height:340px;
	position:relative;
	float:right;
	padding:20px 0 0 0;
}

#mapa
{
	width:100%;
	height:360px;
	position:relative;
	float:right;
	background-color:#FFF;
	background-size:contain;
	padding:10px 0 0 0;
	margin-bottom:50px; 
}

#contactt label
{
	width:100%;
	height:30px;
	position:relative;
	float:left;
	font-size:16px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	padding:8px 0 0 0;
}
#contactt input.menomail
{
	width:80%;
	height:30px;
	position:relative;
	float:left;
	border-radius:10px;
	background-color:#999;
	border:hidden;
	margin-bottom:10px;
}

#contactt input.sprava
{
	width:100%;
	height:70px;
	position:relative;
	float:left;
	border-radius:10px;
	background-color:#999;
	border:hidden;
}

#contactt input#gone
{
	width:180px;
	height:50px;
	position:relative;
	float:left;
	top:-10px;
	border-radius:10px;
	background:#F33;
	cursor: pointer;
	border:hidden;
	color:#FFF;
	font-weight:500;
	font-size:18px;
}

#contactt input#gone:hover
{
	color:#000;
}

#sendmess
{
	width:200px;
	height:20px;
	position:relative;
	float:right;
	right:100px;
	top:10px;
}

/*--------------------------Our friends--------------------------*/
#friends
{
	width:100%;
	height:auto;
	margin:auto;
	position:relative;
	top:50px; 
}

#friends li, #friends li a
{
	list-style:none;
	text-align:left;
	font-size:24px;
	padding:20px 0 20px 0;
	color:#FFF;
}
#friends li:nth-child(2n), #friends li:nth-child(2n) a {color:#FFF5C1;} 

#friends li a:hover, #friends li:nth-child(2n) a:hover
{
	text-decoration:none;
}
 
 
/*--------------------------Litters--------------------------*/
#litters
{
	height:700px;
}



/*--------------------------časť ktorá rieši slideshow na stránke --------------------------*/
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align:center;
  -moz-box-shadow:    0 0 40px 20px #666;
  -webkit-box-shadow: 0 0 40px 20px #666;
  box-shadow:         0 0 40px 20px #666;
}
.slideshow-container .mySlides.fade img {
	position:relative;
	margin:auto;
	text-align:center;
	overflow:hidden;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}