/* CSS Document */

/*spoločná*/
.dogour
{
	width:100%;
	min-height:350px;
	position:relative;
	margin:auto auto 20px auto;
	clear:right;
}

.dogour .whoo
{
	min-width:400px;
	width:auto;
	height:auto;
	display:inline-block;
	text-align:center;
	padding:15px 0 15px 0;	
	border-radius:5px;
	cursor: pointer;
	text-decoration:none;
	font-size:24px;
	margin:auto 20% auto 20%;
	position:relative;
	color:#FFF;
}

.dogour .whoo:hover {color: #000;}

.obrour
{
	width:34%;
	height:200px;
	float:left;
	overflow:hidden;
	border:5px solid #FFF;
	left:20px;
	top:50px;
	position:relative; 
}

.sxs
{
	font-size:12px; 
	margin: 10px auto 10px auto; 
}

.sxs a {color:#FFF;} .sxs a:hover {color:#FFF5C1;}

.infoour
{
	width:62%;
	height:auto;
	float:right;
	margin:30px auto 40px auto;
	position:relative;
}
.infoour th
{
	font-size:14px;
	text-align:left;
	color:#FFF5C1;
	width:120px;
}
.infoour td
{
	font-size:12px;
	text-align:left;
	color:#FFF;
}

/*po jednom*/
#obrr
{
	width:68%;
	height:400px;
	display:block;
	float:left;
	overflow:hidden;
	border:5px solid #FFF;
}

#infor
{
	width:30%;
	height:400px;
	display:block;
	float:right;
	margin-bottom:30px;
}

#infor th
{
	text-align:left;
	font-size:14px;
	height:41px;
	color:#FFF5C1;
}

#infor td
{
	font-size:14px;
	height:auto;
	text-align:left;
	color:#FFF;
}

#infor td a, a:visited
{
	color:#FFF;
}


#tabler
{
	width:90%;
	min-height:100px; 
	margin:auto;
	clear:both;
	display:block;
}

#tabler th {color:#FFF5C1;}
#tabler td {font-size:14px;}

