/* CSS Document */

body
{
	background-color: #000000;
	background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
	margin-bottom:-30px;
}

#main
{
	width:1000px;
	min-height:500px;
	height:auto;
	background: url(pics/post_c.png);
	margin:auto;
	overflow:hidden;
}
#logo 
{
	background: url(pics/logo.png) no-repeat center;
	background-size:76% 76%;
	width:100%;
	height:170px; 
	position:relative;
	top:30px;
}
#mmenu
{
	background:url(pics/menu.png); 
	position:relative;
	top:80px;
	margin-bottom:50px;
}
#menu
{
	width:auto;
	height:50px;
	margin:auto;
	position:relative;
	text-align:center;
}

#menu a
{
	display:inline-block;
	width:auto;
	height:auto;
	text-align:center;
	margin:12px 0 8px 0;
	color:#FFF;/*#FEEB67;*/
	text-decoration:none;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	position:relative;
	padding:6px 20px 6px 20px;
	text-align:center; 
}

	
#menu a:hover
{
	background:url(pics/post_c.png);
	border-radius:5px;
	color:#FFF5C1;
}

#middle
{
	width:90%;
	margin:auto;
	min-height:600px;
	height:auto;
	text-align:center;
	color:#FFF;
	position:relative;
	clear:both;
	margin-top:130px;
	margin-bottom:50px;
}

#middle a
{
	color:#FFF;
}

#foot
{
	height:70px;
	width:100%;
	position:relative;
	bottom:0;
	background-image:url(pics/post_c.png);
	clear:both;
}

#reklama
{
	width:100%;
	height:100px;
	text-align:center;
	border:none;
	position:relative;
	bottom:0;
	clear:both;
	margin-top:15px; 
}



#jazyky
{
	width:90px;
	height:30px;
	position:absolute;
	margin-left:930px;
	margin-top:-20px;
	color:#FFF; 
}

#engl
{
	background:url(pics/united_kingdom_round_icon_64.png) no-repeat center;
	background-size:30px 23px;
	display:block;
	width:30px;
	height:30px;
	float:left;
}
#slov
{
	background:url(pics/slovakia_round_icon_64.png) no-repeat center;
	background-size:30px 23px;
	display:block;
	width:30px;
	height:30px;
	float:left;
}

 
#paws
{
	position:absolute;
	top:-220%;
	left:-10%;
	width:500px;
	height:720px;
	background:url(pics/footprint.png);
	float:left;

	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}


/*podmenu*/
div.dropdown {
    display:inline-block;
	position:relative;
}

.dropdown-content { 
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
	z-index:1;
}

.dropdown-content a {
    color:#666 !important;
    text-decoration: none;
    display: block;
    text-align: center;
	font-size:14px !important;
	border-radius:inherit !important;
	z-index:1;
	width:200px !important;
}

.dropdown-content a:hover {background-color: #f1f1f1 !important; 	width:100%; display:block;}

.dropdown:hover .dropdown-content {
    display: block;
}

#autor
{
	width:350px;
	height:15px;
	position:relative;
	margin:auto;
	top:27.5px;
	font-size:12px;
	color:#333;
}