/* CSS Document */
body
{
	background:url(../pics/2.png);
	color:#FFF;
}

#main
{
	width:1000px;
	min-height:800px;
	height:auto;
	margin:auto;
	background:url(../pics/post_c.png);
} 

#menu
{
	width:100%;
	height:auto;
	margin:auto;
	text-align:center;
}

#menu a
{
	color:#FF0;
	display:inline-block;
	height:auto;
	width:auto;
	text-align:center;
	outline:1px solid #C30;
	background-color:#C33;
	position:relative;
	padding:10px 20px 10px 20px;
	text-decoration:none;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
}

#obsah
{
	width:90%;
	height:auto;
	outline:1px solid #000;
	margin:30px auto 20px auto;
}
